
.viewHeadLine { font-size : 2rem; }

.sectionHeadLine { font-size : 1.5rem; }

.card {
  margin : 2vh 0;
  border : 2px dashed green;
  padding : 15px 2vw;
  color : green;
}

.instructionText {
  font-size : 1.3rem;
}

